header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: black;
}

header h1 {
  background: linear-gradient(270deg, #ffffff, #b0b0b0, #e5e5e5, #ffffff);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 6s ease infinite;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav ul li {
  list-style: none;
}

nav i {
  font-size: 30px;
}

/* Animación del Logo*/
@keyframes gradientText {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}